@media screen and (max-width: 1284px) and (min-width: 320px)
	.container
		width: calc(100% - 200px)
	.dec-border-left
		&::before
			left: -30px
	.header-inner
		.header-block
			.logo-container
				margin-left: 0
	.header-bottom
		width: calc(100% - 120px)
		.header-main-links
			li
				margin-right: 21px
		.icon-logo
			width: 192px
	.main-slide
		&__slider
			.owl-dots
				left: 130px
	.main-slide-item
		&__info
			top: 190px
			left: 60px
	.projects-block
		&__img
			width: 530px
			height: 570px
			top: -132px
	.project-slide
		&__heading
			font-size: 36px
		&__text
			margin-bottom: 35px
		&__list
			margin-bottom: 35px
		&__info
			padding: 0 35px
	.profile-section
		margin-bottom: 80px
	.profile-block
		padding-left: 30px
		&__list-item
			width: 50%
		&__list-heading
			font-size: 32px
		&__list-item
			margin-bottom: 75px
	.statistic-block__list-heading, .statistic-block__list-heading-char
		font-size: 66px
	.articles-block
		padding-left: 30px
	.articles-slide
		&__info
			left: 60px
	.footer-container
		.footer-logo
			margin-bottom: 60px
		.footer-soc
			position: initial
			margin-bottom: 50px